<section class="cardLibra">
    <div class="container">
        <div class="headerLibra">
            <p>Libra Esterlina</p>
        </div>
        <div class="bodyLibra">
            <span>R$7,52</span>
        </div>
        <div class="footerLibra">
            <div class="texto1">
                <p class="variacao">Variação (%)</p>
                <p class="variacaoValor">2,23</p>
            </div>
            <div class="texto2">
                <p class="textoAtualiza">Atualizado</p>
                <p class="time">08:01:23</p>
            </div>
        </div>
    </div>
</section>
