.cardPeso {
    width: 400px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 6px 2px #CCCCCC40;
    display: flex;
    justify-content: space-between;
}
.cardPesoCarregando {
    width: 400px;
    height: 340px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 6px 2px #CCCCCC40;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.container {
    text-align: center;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.headerPeso {
    width: 400px;
    height: 119px;
    border-radius: 10px 10px 0px 0px;
    background: #F6F6F6;
    color: #717171;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}
 .bodyPeso {
    width: 400px;
    height: 130px;
    align-content: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 96px;
    text-align: center;
    color: #DD4B4B;


 }
.footerPeso {
    width: 400px;
    height: 90px;
    border-top: 0.5px  solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.texto1, .texto2 {
    width: 100%;
    align-content:center ;
}
.texto1{
    border-right: 0.5px  solid #ccc;
}
.variacao, .textoAtualiza {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #919191;
    margin: 0px;
 }
 .variacaoValor, .time {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: #717171;
    margin: 0px;
 }
 svg {
    position: relative;
    bottom: 87px;
}
 
@media (max-width: 1024px) {
    .footerPeso {
        width: 300px;
    }
    .bodyPeso {
        width: 300px;
    }
    .headerPeso {
        width: 300px;
    }
    .cardPeso {
        width: 300px;
    }
    .cardPesoCarregando {
        width: 300px;
    }
}

.green {
    color: #3C7649;
  }
  .red {
    color: #DD4B4B
  }
  .blue {
    color: #3684CB
  }
@media (max-width: 600px) {
    .headerPeso {
        font-size: 25px;
        height: 85px;
    }
    .bodyPeso {
        font-size: 45px;
    }
    .variacao, .textoAtualiza {
        font-size: 15px;
    }
    .variacaoValor, .time {
        font-size: 20px;
    }
}
