/* Estilos para o card de dados quando os dados estão carregados */
.dataCard {
    width: 400px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 6px 2px #CCCCCC40;
    display: flex;
    justify-content: space-between;
}

/* Estilos para o card de carregamento */
.loadingCard {
    width: 400px;
    height: 340px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 6px 2px #CCCCCC40;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

/* Ajustes para o card quando há um erro */
.errorCard {
    justify-content: flex-start;
}

/* Estilos para a mensagem de erro */
.errorContainerApi {
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    color: #717171;
}
.errorContainerApi button {
    width: 173px;
    height: 58px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    background: #F4F4F4;
    color: #717171;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos gerais para o container */
.container {
    text-align: center;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Estilos para o cabeçalho do card */
.cardHeader {
    width: 400px;
    height: 119px;
    border-radius: 10px 10px 0px 0px;
    background: #F6F6F6;
    color: #717171;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

/* Estilos para o corpo do card */
 .cardBody {
    width: 400px;
    height: 130px;
    align-content: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 96px;
    text-align: center;
    color: #DD4B4B;
 }

 /* Estilos para o rodapé do card */
.cardFooter {
    width: 400px;
    height: 90px;
    border-top: 0.5px  solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-around;
}

/* Estilos para o texto de variação */
.texto1, .texto2 {
    width: 100%;
    align-content:center ;
}
.texto1{
    border-right: 0.5px  solid #ccc;
}

/* Estilos para os rótulos de variação e atualização */
.variacao, .textoAtualiza {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #919191;
    margin: 0px;
 }

 /* Estilos para os valores de variação e atualização */
 .variacaoValor, .time {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: #717171;
    margin: 0px;
 }

 /* Estilos para cores baseadas em valores */
 .green {
    color: #3C7649;
  }
  .red {
    color: #DD4B4B
  }
  .blue {
    color: #3684CB
  }

  /* Ajuste para o SVG de carregamento */
 svg {
    position: relative;
    bottom: 87px;
}
 
/* Ajustes responsivos para telas médias */
@media (max-width: 1024px) {
    .cardFooter, .cardBody, .cardHeader, .dataCard, .loadingCard {
        width: 300px;
    }
}

/* Ajustes responsivos e Mobile */
@media (max-width: 600px) {
    .cardHeader {
        font-size: 25px;
        height: 85px;
    }
    .errorContainerApi {
        margin-top: 20px;
    }
    .cardBody {
        font-size: 45px;
    }
    .variacao, .textoAtualiza {
        font-size: 15px;
    }
    .variacaoValor, .time {
        font-size: 20px;
    }
}
