<section class="cardPeso">
    <div class="container" *ngIf="valorPeso && valorPeso.length; else loading">
        <div class="headerPeso">
            <p>Peso Argentino</p>
        </div>
        <div class="bodyPeso">
            <span [ngClass]="bidClass(valorPeso[0].ask)">{{ valorPeso[0].ask | currency: 'BRL':  'symbol' : '1.2-2' }}</span>
        </div>
        <div class="footerPeso">
            <div class="texto1">
                <p class="variacao">Variação (%)</p>
                <p class="variacaoValor">{{ valorPeso[0].pctChange }}</p>
            </div>
            <div class="texto2">
                <p class="textoAtualiza">Atualizado</p>
                <p class="time">{{  valorPeso[0] ? formatHora(valorPeso[0].create_date) : '' }}</p>
            </div>
        </div>
        
    </div>
    <ng-template #loading>
        <p>Carregando valores.</p>
    </ng-template>
</section>
