<section class="cardPeso">
    <div class="container">
        <div class="headerPeso">
            <p>Peso Argentino</p>
        </div>
        <div class="bodyPeso">
            <span>R$0,05</span>
        </div>
        <div class="footerPeso">
            <div class="texto1">
                <p class="variacao">Variação (%)</p>
                <p class="variacaoValor">0,2</p>
            </div>
            <div class="texto2">
                <p class="textoAtualiza">Atualizado</p>
                <p class="time">08:01:23</p>
            </div>
        </div>
        
    </div>
</section>
