/* Estilos para o cartão do dólar */
.cardDolar {
    width: 400px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 6px 2px #CCCCCC40;
    display: flex;
    justify-content: space-between;
}

.cardDolarCarregando {
    width: 400px;
    height: 340px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 6px 2px #CCCCCC40;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.cardDolarCarregandoErro{
    justify-content: flex-start;
}

/* Estilos para mensagem de erro da API */
.errorApi{
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    color: #717171;
}

.errorApi button{
    width: 173px;
    height: 58px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    background: #F4F4F4;
    color: #717171;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Container geral */
.container {
    text-align: center;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Cabeçalho do cartão do dólar */
.headerDolar {
    width: 400px;
    height: 119px;
    border-radius: 10px 10px 0 0;
    background: #F6F6F6;
    color: #717171;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

 /* Corpo do card do dólar */
 .bodyDolar {
    width: 400px;
    height: 130px;
    align-content: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 96px;
    text-align: center;
    color: #3C7649;
 }

 /* Rodapé do card do dólar */
.footerDolar {
    width: 400px;
    height: 90px;
    border-top: 0.5px  solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-around;
}

/* Texto do rodapé */
.texto1, .texto2 {
    width: 100%;
    align-content:center ;
}

.texto1{
    border-right: 0.5px  solid #ccc;
}

 .variacao, .textoAtualiza {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #919191;
    margin: 0px;
 }

 .variacaoValor, .time {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: #717171;
    margin: 0px;
 }

 /* Cores específicas para os valores */
 .green {
    color: #3C7649;
  }
  .red {
    color: #DD4B4B
  }
  .blue {
    color: #3684CB
  }
  svg{
        position: relative;
        bottom: 87px;
  }

  /* Media queries para dispositivos Desktop e Mobile */
@media (max-width: 1024px) {
    .cardDolar, .cardDolarCarregando, .headerDolar, .bodyDolar, .footerDolar {
        width: 300px;
    }
  
}

@media (max-width: 600px) {
    .headerDolar {
        font-size: 25px;
        height: 85px;
    }
    .errorApi {
        margin-top: 20px;
    }
    
    .bodyDolar {
        font-size: 45px;
    }
    .variacao, .textoAtualiza {
        font-size: 15px;
    }
    .variacaoValor, .time {
        font-size: 20px;
    }
}
