<section class="cardDolar">
    <div class="container">
        <div class="headerDolar">
            <p>Dólar Canadense</p>
        </div>
        <div class="bodyDolar">
            <span>R$4,37</span>
        </div>
        <div class="footerDolar">
            <div class="texto1">
                <p class="variacao">Variação (%)</p>
                <p class="variacaoValor">-0,11</p>
            </div>
            <div class="texto2">
                <p class="textoAtualiza">Atualizado</p>
                <p class="time">08:01:23</p>
            </div>
        </div>
        
    </div>
</section>
